#the-canvas {
    border: 1px solid black;
    direction: ltr;
    position: absolute;
    top: 50px;
    left: 0;
}


#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#page_num {
	display: inline;
}

#page_count {
	display: inline;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-contents {
	width: fit-content;
	margin: 20px auto;
}

canvas#rectangleCanvas {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    aspect-ratio: auto 357 / 505;

}


div#pdf-meta {
    position: absolute;
    top: 0;
    left: 0;
}
